{% if admin.hasAccess('create') and admin.hasRoute('create') %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateUrl('create') }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
        </a>
    </li>
{% endif %}