<li>
    {% trans_default_domain 'Larp' %}
    <a href="{{ admin.generateObjectUrl('export_parameters', object) }}">
        <i class="fa fa-download"></i>
        {{ 'show.action__export'|trans }}
    </a>
</li>
