<li>
    {% trans_default_domain 'Larp' %}
    <a href="{{ admin.generateObjectUrl('import_parameters', object) }}">
        <i class="fa fa-upload"></i>
        {{ 'show.action__import'|trans }}
    </a>
</li>
