{% if admin.hasAccess('convertor') and admin.hasRoute('convertor') %}
    <li>
        <a href="{{ admin.generateUrl('convertor') }}" title="{{ 'list.actions_convertor'|trans({}, 'Calendar') }}">
            <i class="fa fa-arrows-h" aria-hidden="true"></i>
            {{ 'list.actions_convertor'|trans({}, 'Calendar') }}
        </a>
    </li>
{% endif %}
