<li>
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('rerun', object) }}">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        {{ 'link_action_rerun'|trans({}, 'Synchronization') }}
    </a>
</li>
