<li>
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('stop', object) }}">
        <i class="fa fa-close" aria-hidden="true"></i>
        {{ 'link_action_stop'|trans({}, 'Synchronization') }}
    </a>
</li>
